/* DESKTOP */

/* homepage.php */
@media only screen and (min-width:768px){

    /* navbar */
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        align-items: center;
    }

    .main_nav{
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main_nav li{
        margin: 0;
    }

    .nav_links{
        margin-left: 40px;
        font-size: 1.3rem;
    }

    .logo{
        margin-top: 0;
    }

    .navbar_toggle{
        display: none;
    }

    .brand_name{
        font-size: 3rem;
    }

    /* main */
    .main_title{
        background: rgb(2,0,36);
        background: -moz-radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0,0,0,0.5049370089832808) 50%, rgba(0, 0, 0, 0) 100%);
        background: -webkit-radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0,0,0,0.5049370089832808) 50%, rgba(0, 0, 0, 0) 100%);
        background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0,0,0,0.5049370089832808) 50%, rgba(0, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
        position: absolute;
        top: 420px;
        left: 140px;
        position: relative;
        top: 0;
        left: 0;
    }

    h1{
        padding: 0;
    }

    .main_title h1{
        font-size: 4rem;
    }

    .main_title p{
        font-size: 2.8rem;
    }

    .cta{
        padding: 30px 70px 30px;
        opacity: 0.8;
    }

    .cta:hover{
        opacity: 1;
        transition: all 0.1s;
    }

    .cta a{
        font-size: 2.5rem;
        padding: 30px 30px;
    }

    /* featured games */
    #featured_game_card{
        display: flex;
        justify-content: space-around;
    }

    .flex_game{
        flex-direction: column;
    }

    .flex_game h3{
        padding-bottom: 15px;
    }

    #featured_game_card img{
        width: 450px;
        height: 300px;
    }

    #featured_game_card{
        flex-direction: column;
    }

}



/* --- contact.php --- */

@media only screen and (min-width:768px){
    .contact_card{
        margin: 105px 30px;
    }
}



 /* --- login.php ---  */
@media only screen and (min-width:768px){
    
    .connect_card{
        margin: 250px 45px;
    }

    .connect_title{
        font-size: 1.4rem;
    }

    label{
        font-size: 1.4rem;
    }

    input[type=submit]{
        font-size: 1.3rem;
    }

}



/* --- userprofile.php --- */
@media only screen and (min-width:768px){

    .vh{
        height: 87vh;
    }
}



@media only screen and (min-width:1024px){

    /* --- homepage.php --- */
    .main_title{
        position: absolute;
        top: 250px;
        left: 150px;
        font-size: 1.5rem;
    }

    #featured_game_card{
        flex-direction: row;
    }

    #featured_game_card img{
        width: 375px;
        height: 220px;
    }

    footer{
        padding: 15px 40px;
    }

    /* --- contact.php --- */

    .contact_card{
        margin: 155px 100px;
    }

    textarea{
        width: 50%;
    }

    /* --- login.php ---  */

    .connect_card{
        margin: 250px 200px;
    }

}



@media only screen and (min-width:1920px){
    
    /* --- homepage.php --- */
    .main_title{
        font-size: 2.8rem;
        top: 350px;
        left: 250px;
    }


    #featured_game_card img{
        width: 500px;
        height: 300px;
    }

    footer{
        padding-top: 30px;
    }

    /* --- login.php --- */
    .connect_card{
        margin: 250px 300px;
    }

    /* --- userprofile.php --- */
    .vh{
        height: 85vh;
    }


}

