

/* --- MOBILE --- */


/* --- homepage.php --- */
@media only screen and (min-width:360px){
    
    /* body color */
    body{
        background-color: var(--dark_00dp);
    }


    /* NAVBAR */
    .navbar{
        background-color: var(--dark_01dp);
        padding: 10px 10px;
    }

    .main_nav{
        display: none;
    }

    .main_nav li{
        text-align: center;
        margin: 15px auto;
    }

    .nav_links{
        font-family: var(--open-sans);
    }
    
    .brand_name{
        font-family: var(--cinzel);
        color: white;
        display: inline-block;
        font-size: 1.5rem;
        margin-top: 6px;
        margin-left: 15px;
    }
    
    .navbar_toggle {
        position: absolute;
        color: white;
        top: 15px;
        right: 20px;
        cursor: pointer; 
        font-size: 24px;
    }

    .bx-menu{
        font-size: 2rem;
    }

    .active {
        padding-top: 10px;
        display: block;
    }


    /* main title */

    .bg_img{
        width: 100%;
        height: auto;
        position: relative;
        object-fit: fill;
    }

    .main_title{
        padding-top: 10px;
        text-align: center;
    }

    .main_title h1{
        color: white;
        font-family: var(--cinzel);
    }

    .main_title p{
        color: #e6e6e6;
        font-family: var(--open-sans);
    }

    /* browse games */

    .cta_section{
        padding-top: 20px;
    }

    .cta{
        font-family: var(--lexend);
        display: block;
        margin: 0 auto;
        background-color: var(--dark_01dp);
        padding: 12px 15px 10px;
        border-radius: 30px;
        text-align: center;
    }

    .cta a{
        color: var(--cta);
        font-size: 1.3rem;
    }

    /* featured games */

    .featured_games{
        padding-top: 20px;
    }

    .featured_games h2{
        font-family: var(--lexend);
        color: var(--lilwhite);
        font-size: 1.3rem;
        text-align: center;
        padding-bottom: 30px;
    }

    .featured_games :is(h3){
        font-family: var(--lexend);
        color: var(--lilwhite);
        text-align: center;
        padding-bottom: 6px;
    }

    #featured_game_card{
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        padding: 20px 20px;
        background-color: var(--dark_01dp);
        border-radius: 10px;
        width: 100%;
    }

    #featured_game_card img{
        width: 320px;
        height: 205px;
        margin-bottom: 10px;
    }

    /* footer */

    footer{
        padding-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: var(--dark_01dp);
    }

    footer a{
        color: var(--cta);
        font-family: var(--open-sans);
        font-size: 1.3rem;
    }


}   


/* --- contact.php --- */

@media only screen and (min-width:360px){

    .contact_card{
        background-color: var(--dark_01dp);
        border-radius: 3px;    
        margin: 10px;
        padding: 10px;
    }

    h1{
        font-family: var(--open-sans);
        color: white;
        font-size: 1.8rem;
        padding: 25px 10px;
        text-align: center;
    }

    form{
        text-align: center;
    }

    label{
        color: white;
        font-family: var(--lexend);
        padding-right: 20px;
        display: flex;
        justify-content: center;
    }

    input{
        padding: 12px 20px;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        justify-content: center;
        margin: 20px auto;
    }

    textarea{
        width: 80%;
        display: inline-block;
        height: 150px;
        margin: 10px;
        padding: 12px;
        border: 2px solid white;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
        font-family: var(--lexend);
    }
    
    input[type=submit]{
        cursor: pointer;
        width: 20%;
        color: var(--cta);
        background-color: var(--dark_01dp);
        font-family: var(--open-sans);
    }

}


/* --- login.php --- */
@media only screen and (min-width:360px){
    

    .connect_card{
        background-color: var(--dark_01dp);
        border-radius: 3px;
        padding: 15px 0px;
        margin: 150px 0px;
    }


    .connect_title{
        color: white;
        text-align: center;
        font-family: var(--open-sans);
        padding: 20px 0px;
    }

    .not_registered{
        text-align: center;
        color: white;
        font-family: var(--lexend);
    }

    .not_registered a{
        color: var(--cta);
        font-family: var(--lexend);
        font-size: 1.2rem;
    }

}

/* --- contactsuccess.php  --- */
@media only screen and (min-width:360px){
    
    .vh{
        height: 80vh;
    }
}

/* --- registersuccess.php --- */
@media only screen and (min-width:360px){
    
    .register_done{
        height: 85vh;
    }
    .login_after_register{
        color: var(--cta);
    }
}

/* --- allgames.php --- */

@media only screen and (min-width:360px){

    #game_categories{
        margin: 35px 30px 80px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cat_btn{
        padding: 8px 10px;
        background-color: var(--dark_01dp);
        border-radius: 3px;
        border: solid 1px rgba(182, 13, 248, 0.70);
        color: white;
        font-family: var(--open-sans);
        margin: 5px 10px;
    }
    .cat_btn:hover{
        border: solid 1px rgba(255, 255, 255, 0.70);
        transition: box-shadow .5s ease-out;
        cursor: pointer;
    }

    .outline{
        border: var(--cta) 1px solid;
        margin-bottom: 20px;
    }

    #games{
        background-color: var(--dark_01dp);
        padding: 20px 20px;
    }
    
    #games img{
        width: 320px;
        height: 200px;
    }

    #games h2{
        color: white;
        font-family: var(--open-sans);
        text-align: center;
    }
}



@media only screen and (min-width:360px){

    .vh{
        height: 85vh;
    }

}

/* --- userprofile.php --- */
@media only screen and (min-width:360px){
    
    h2{
        color: white;
        font-family: var(--open-sans);
    }


    .profilebtns{
        display: flex;
        flex-direction: column;
    }
    .profile_name_edit{
        font-size: 1rem;
        font-family: var(--lexend);
        margin: 10px auto;
        background-color: var(--dark_01dp);
        padding: 6px 8px;
        border-radius: 30px;
        text-align: center;
    
    }
    .profile_name_edit a{
        color: rgba(255, 255, 0, 0.80);
    }

    .profile_delete{
        font-size: 1rem;
        font-family: var(--lexend);
        margin: 0 auto;
        background-color: var(--dark_01dp);
        padding: 6px 8px;
        border-radius: 30px;
        text-align: center;
    }

    .profile_delete a{
        color: rgba(255, 0, 0, 0.8);
    }

    /* --- uploadprofilname.php --- */
    .profile_name_send{
        font-size: 1rem;
        font-family: var(--lexend);
        margin: 0 auto;
        background-color: var(--dark_01dp);
        padding: 6px 8px;
        border-radius: 30px;
        text-align: center;
        color: rgba(0, 255, 0, 0.8);
    }

}

